@import url('https://fonts.googleapis.com/css?family=Allerta');

:root {
	color-scheme: dark;
}

body {

    width: 95%;
    height: 90vh;

    font-family: "Allerta", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    font-size: 15px;
    overflow:scroll;

    letter-spacing: -0.3px;
    background-color: #2a2a2b;
    color: #CECECE;

    margin-left: 3%;
    margin-right: 3%;  
}

img {
  max-width: 50%;
}

code {
  border-radius: 10px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #c2722c;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    max-width: 60%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

a {
  color: #c2722c;
}

h3 {
  font-size: 2.4em;
  font-weight: 200;
  letter-spacing: -1px;
  padding: 20px 0;

  display: block;
  font-size: 1.17em;
  
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #c2722c;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: -1px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-size: 15px;
  margin: 20px 0;
  margin-right: 3%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 12px;
  }

  .button2:hover {
    background-color: #008CBA; 
    color: white;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c2722c;
  color: white;
}

  